<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tr>
    <td>Last name</td>
    <td>First name</td>
    <td>Email</td>
    <td>Phone number</td>
</tr>
    <tr th:each="guest:${guests}">
    <td th:text="${guest.lastName}">lastName></td>
    <td th:text="${guest.firstName}">firstName></td>
    <td th:text="${guest.emailAddress}">emailAddress></td>
    <td th:text="${guest.phoneNumber}">phoneNumber></td>
    </tr>
</table>
</body>
</html>